RESEND_API_KEY="re_Pyu4EVnt_LBhvQYMRYYujdrir2Z9Y48jU"

CONTACT_FROM="contact@email.com"
CONTACT_TO="contact@email.com"

VITE_SUPABASE_PROJECT_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
VITE_SUPABASE_PUBLISHABLE_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXX"
VITE_SUPABASE_URL="XXXXXXXXXXXXXXXXXXXXXXXXX"
